<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<a href="index.html">Home</a> 
		<i class="icon-angle-right"></i>
	</li>
	<li><a href="#">Evento</a></li>
</ul>


<div class="container-fluid">
  
  <div class="row">
  <div class="page-header">
	<h1><strong>Nome do Evento</strong></h1>	
  </div>
  </div>
  
  <div class="row">    
    <div class="col-xs-8 col-sm-6">
	<p class="lead">
		<span class="icon-calendar"> </span>
	    5 a 9 de Novembro
	</p>
	</div>
 </div>
<div class="row"> 
	<p class="lead">
		<span class="icon-time"></span>
		 09:00 às 19:00 h (credenciamento a partir das 8:00 h)
	</p>
</div>
<div class="row">
	
	<p class="lead">
		<span class="icon-globe"> </span>
	 <a> Instituto Federal de Goiás (IFG)</a>
	</p>
	
	<p class="lead">
		<span class="icon-home"> </span>
	 Rua Não Sei Q. 78 Lt. 65 Jofre Parada
	</p>
	
</div>
</div>