<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Programação</a></li>
</ul>

<div class="row-fluid">
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon white th"></i><span class="break"></span>Programação</h2>
					</div>
					<div class="box-content">
						<ul class="nav tab-menu nav-tabs" id="myTab">
							<li class="active"><a href="#info">Data 01</a></li>
							<li><a href="#custom">Data 02</a></li>
							<li><a href="#messages">Data 03</a></li>
						</ul>
						 
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane active" id="info">
								<div class="span5 noMarginLeft">
					
					<div class="dark">

					<h1 >TIMELINE</h1>
					  
					<div class="timeline">
						
					    <div class="timeslot">
					    	
							<div class="task">
					    		<span>
									<span class="type">appointment</span>
									<span class="details">
										Dennis Ji at Bootstrap Metro Dashboard HQ
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>	
									</span> 
								</span>
								<div class="arrow"></div>
							</div>							
							<div class="icon">
								<i class="icon-map-marker"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>	
								
					    </div>
					
						<div class="clearfix"></div>
						
						<div class="timeslot alt">
					    	
							<div class="task">
					    		<span>
									<span class="type">phone call</span>
									<span class="details">
										Dennis Ji
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>	
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-phone"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>	
								
					    </div>
					
						<div class="timeslot">
					    	
							<div class="task">
					    		<span>
									<span class="type">mail</span>
									<span class="details">
										Dennis Ji
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>	
									</span> 
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-envelope"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>	
								
					    </div>
					
						<div class="timeslot alt">
					    	
							<div class="task">
					    		<span>
									<span class="type">deadline</span>
									<span class="details">
										Fixed bugs
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>	
									</span> 
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-calendar"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>	
								
					    </div>
					
						<div class="timeslot">
					    	
							<div class="task">
					    		<span>
									<span class="type">appointment</span>
									<span class="details">
										Dennis Ji at Bootstrap Metro Dashboard HQ
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>	
									</span> 
								</span>
								<div class="arrow"></div>
							</div>							
							<div class="icon">
								<i class="icon-map-marker"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>	
								
					    </div>
					
						<div class="clearfix"></div>
						
						<div class="timeslot alt">
					    	
							<div class="task">
					    		<span>
									<span class="type">skype call</span>
									<span class="details">
										Dennis Ji
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>	
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-phone"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>	
								
					    </div>
					
						<div class="timeslot">
					    	
							<div class="task">
					    		<span>
									<span class="type">mail</span>
									<span class="details">
										Dennis Ji
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>	
									</span> 
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-envelope"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>	
								
					    </div>
					
						<div class="timeslot alt">
					    	
							<div class="task">
					    		<span>
									<span class="type">project deadline</span>
									<span class="details">
										Fixed bugs
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>	
									</span> 
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-calendar"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>	
								
					    </div>
					
						<div class="timeslot">
					    	
							<div class="task">
					    		<span>
									<span class="type">mail</span>
									<span class="details">
										Dennis Ji
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>	
									</span> 
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-envelope"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>	
								
					    </div>
					    
					</div>
				</div>
				
			    </div>	

							</div>
							<div class="tab-pane" id="custom">
								<p>
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no 
sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo 
duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum 
dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam 
erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
takimata sanctus est Lorem ipsum dolor sit amet.   
								</p>
							</div>
							<div class="tab-pane" id="messages">
								<p>
								
									Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu 
feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit 
augue duis dolore te feugait nulla facilisi.   
								</p>
								<p>
									Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
								</p>
							</div>
						</div>
					</div>
				</div><!--/span-->
			
			</div><!--/row-->	
						
			<!-- </div> -->
			<!-- end home -->